@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300,200,100);

.swastik{
  height: 40px;
  width: 40px;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: -85px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #6363EA, orange);
  padding: 5px;
  border-bottom: 3px solid yellow;
  border-top: 3px solid yellow;
}
.estd{
  color: yellow;
  margin: 0px;
  padding: 0px;
  margin-left: 53%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.headimg{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 3px solid yellow;
  padding: 3px;
  margin-left: 15px;
}
.heading{
  padding: 0px;
  color: yellow;
  margin-left: 1%;
}
.heading h1{
  padding: 0px;
  margin: 0px;
  font-family: 'Cursive', sans-serif;
  font-style: bold;
  font-size: 29px;
  color: yellow;
}
@media (max-width: 425px){
  .heading h1{
    font-size: 22px;
  }
  .estd{
    font-size: 10px;
    margin-left: 85%;
  }
  .headimg{
    height: 55px;
    width: 55px;
    margin-left: 10px;
  }
  .heading{
    margin-left: 3%;
  }
}
.heading span{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 425px){
  .heading span{
    font-size: 12px;
  }
}
.openbtn{
  margin-top: 1%;
  font-size: 30px;
  color: yellow;
  margin-left: 1%;
}
.openbtn:hover{
  color: #C4D4C3;
  transition: 300ms;
  cursor: pointer;
}
.slideHeader {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right,#FF5000,orange);
  border-bottom: 2px solid yellow;
}
.slideHeader h3{
  color: yellow;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.sideimage{
  margin-top: -7%;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 2px solid yellow;
  padding: 2px;
  margin-bottom: 5px;
}
.closebtn {
  color: yellow;
  text-decoration: none;
  font-size: 30px;
  margin-left: 270px;
}
.closebtn:hover{
  color: grey;
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -320px;
  background-color: #111;
  overflow: hidden;
  transition: 300ms;
  box-shadow: rgba(0,0,0,0.14)5px -2px 2px 0px,
              rgba(0,0,0,0.12)5px -2px 5px 0px,
              rgba(0,0,0,0.2)5px -2px 1px -2px;
}
.links {
  background: repeating-linear-gradient(#FF5000, orange);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 5%;
}
.hr{
  height: 1px;
  background-color: yellow;
  width: 100%;
  margin-top: 15px;
}
.signfrm{
  padding: 0 5% 0 10%; 
}
.links a{
  text-decoration: none;
  color: white;
  margin-left: 10%;
  padding-top: 5%;
}
.links a h3{
  font-size: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.links a :hover{
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.login{
  display: flex;
  justify-content: space-around;
}
.loginicon{
  margin-right: 5px;
}
.icons{
  margin-right: 10px;
  font-size: 20px;
}
.icons2{
  margin-right: 10px;
  font-size: 18px;
}
.backdrop {
  z-index: 2;
  background-color: #000;
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
}
#root:target .backdrop {
    display: block;
    opacity: 0.6;
}
#root:target .sidenav {
    left: 0px;
    transition: all 300ms ease;
}


.slide{
  margin-top: 85px;
  width: 85%;
  height: 544px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid yellow;
}
.content{
  height: 540px;
}
@media (max-width: 425px){
  .slide{
    height: 404px;
    width: 100%;
  }
  .content{
    height: 400px;
    width: 100%;
  }
}
.slideimg {
    width: 100%;
    height: 100%;
}
.slidetext{
  width: 80%;
  text-align: center;
  border: 2px solid yellowgreen;
  border-radius: 10px;
  position: relative;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  animation-name: zoom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes zoom {
  25% {padding: 0px;}
  50% {padding: 5px;}
  75% {padding: 5px;}
  100% {padding: 0px;}
}
.slidetext h2{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color: yellow;
}
.slick-dots{
  padding: 5px 0 6px 0;
  margin-top: -80px;
  position: relative;
}
.slick-dots li{
  border-radius: 100%;
  border: 2px solid yellow;
  padding: 2px;
  height: 10px;
  width: 10px;
  line-height: 4px;
}
.slick-dots li button::before{
  top: -6.5px;
  left: -7px;
}
.list{
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fadecard{
  border: 2px solid yellow;
  width: 350px;
  height: 250px;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fadecard a{
  text-decoration: none;
}
.card1{
  height: 100%;
  width: 100%;
  background-image: url('/Images/about.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.card2{
  height: 100%;
  width: 100%;
  background-image: url('/Images/history.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.card3{
  height: 100%;
  width: 100%;
  background-image: url('/Images/members.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.card4{
  height: 100%;
  width: 100%;
  background-image: url('/Images/commit.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.card5{
  height: 100%;
  width: 100%;
  background-image: url('/Images/events.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.card6{
  height: 100%;
  width: 100%;
  background-image: url('/Images/Temple.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.fadecard:hover > a h1{
  cursor: pointer;
  font-size: 40px;
  color: yellow;
  transition: 200ms;
  text-shadow: 2px 2px 4px #000000;
}
.fadecard h1{
  margin-top: -70%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: yellow;
  text-align: center;
  padding: 20%;
}


.footer{
  height: 250px;
  padding-top: 20px;
  background: linear-gradient(to bottom right,#6363EA,orange);
  border-top: 3px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foottext{
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foottext h1{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: yellow;
}
.staticfoot{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.staticfoot h4{
  margin-bottom: 5px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: yellow;
}
.fbicons{
  display: flex;
}
.cicon{
  font-size: 30px;
  line-height: 35px;
  height: 50px;
  width: 50px;
  color: yellow;
  border-radius: 100%;
  border: 2px solid yellow;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.cicon::before{
  margin-left: 18%;
}
.cicon2{
  font-size: 30px;
  line-height: 35px;
  height: 50px;
  width: 50px;
  color: yellow;
  border-radius: 100%;
  border: 2px solid yellow;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}


.abtcntnt{
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abtcntnt h1{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: yellow;
}
.nexthead{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.committees{
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
.comcard1{
  height: 100%;
  width: 100%;
  background-image: url('/Images/Slide/slide4.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.comcard2{
  height: 100%;
  width: 100%;
  background-image: url('/Images/history.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.comcard3{
  height: 100%;
  width: 100%;
  background-image: url('/Images/members.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.committees h2{
  margin-top: -68%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: yellow;
  text-align: center;
  padding: 20%;
}
.fadecard:hover > a h2{
  cursor: pointer;
  font-size: 40px;
  color: yellow;
  transition: 200ms;
  text-shadow: 2px 2px 4px #000000;
}

.cpshead{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cpshead2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pujasamiti{
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adhyaksh{
  height: 210px;
  width: 210px;
  border-radius: 100%;
  border: 8px solid yellow;
  padding: 4px;
}
.adhyaksh2{
  height: 180px;
  width: 180px;
  border-radius: 100%;
  border: 6px solid yellow;
  padding: 3px;
}
.pujasamiti h1{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: yellow;
}
@media (max-width: 425px){
  .pujasamiti h1{
    font-size: 40px;
  }
}
.pujasamiti h2{
  margin-top: 10px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: yellow;
}
.pujasamiti h3{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: yellow;
}
.upadhyaksh{
  width: 350px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anya{
  margin-top: 50px;
}
.cpshead3{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}
.anyalog{
  margin-top: 30px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anyalog h3{
  margin-top: 10px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: yellow;
}
.adhyaksh3{
  height: 160px;
  width: 160px;
  border-radius: 100%;
  border: 4px solid yellow;
  padding: 3px;
}